In [1]:

#importing Libraries
import requests
import lxml.html as lh
import bs4 as bs
import urllib.request
import numpy as np 
import pandas as pd

In [2]:

#Getting the data from url
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
res = requests.get(url)
soup = bs.BeautifulSoup(res.content,'lxml')
table = soup.find_all('table')[0]
df = pd.read_html(str(table))
data = pd.read_json(df[0].to_json(orient='records'))

In [3]:

#First 5 records
data.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [4]:
#Choosing only data where field Borough doesn't have not assigned value
raw_data_selected = data[data['Borough'] != 'Not assigned']

In [6]:

#Grouping Data
raw_data_selected = raw_data_selected.groupby(['Borough', 'Postal Code'], as_index=False).agg(','.join)

In [7]:
raw_data_selected.head()

           Borough Postal Code                       Neighborhood
0  Central Toronto         M4N                      Lawrence Park
1  Central Toronto         M4P                   Davisville North
2  Central Toronto         M4R  North Toronto West, Lawrence Park
3  Central Toronto         M4S                         Davisville
4  Central Toronto         M4T        Moore Park, Summerhill East

In [9]:
raw_data_selected['Neighbourhood'] = np.where(raw_data_selected['Neighborhood'] == 'Not assigned', raw_data_selected['Borough'], raw_data_selected['Neighborhood'])

In [10]:

#Shape of Data
raw_data_selected.shape

(103, 4)

Q2: Use the Geocoder package or the csv file to create the following dataframe
So, we are using csv file

In [11]:

geospatial_url = "https://cocl.us/Geospatial_data"
geospatial_data = pd.read_csv(geospatial_url)

In [12]:
geospatial_data.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [23]:
geospatial_data.columns = ['Postal Code', 'Latitude', 'Longitude']

In [24]:

geospatial_data.columns

Index(['Postal Code', 'Latitude', 'Longitude'], dtype='object')

In [25]:

#Merging dataframe
merged_data = pd.merge(raw_data_selected, geospatial_data, on='Postal Code')

In [26]:
merged_data.head()

,Borough,Postal Code,Neighborhood,Neighbourhood,Latitude,Longitude
0,Central Toronto,M4N,Lawrence Park,Lawrence Park,43.728020,-79.388790
1,Central Toronto,M4P,Davisville North,Davisville North,43.712751,-79.390197
2,Central Toronto,M4R,"North Toronto West, Lawrence Park","North Toronto West, Lawrence Park",43.715383,-79.405678
3,Central Toronto,M4S,Davisville,Davisville,43.704324,-79.388790
4,Central Toronto,M4T,"Moore Park, Summerhill East","Moore Park, Summerhill East",43.689574,-79.383160